<div class="mud-theme-primary" style="position: fixed; bottom: 0; width: 100%; z-index: 1000;">
    <MudContainer Class="py-3">
        <MudText Typo="Typo.body2" Align="Align.Center" Class="mud-text-secondary">
            © @DateTime.Now.Year Kieran Emery. All rights reserved.
        </MudText>
    </MudContainer>
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}